
---
# tasks file for systemd
- name: Ubertragung von Datei k3s-agent.service
  ansible.builtin.copy:
    src: k3s-agent.service
    dest: /etc/systemd/system/k3s-agent.service
    mode: 755    

- name: Uebertraung von Datei k3s.service.env
  ansible.builtin.copy:
    src: k3s.service.env
    dest: /etc/systemd/system/k3s.service.env
    mode: 755

#- name: display content k3s-server.service
#  command: systemctl cat k3s-server.service
#  register: command_output
   
#- name: Print to console
#  debug: 
#    msg: "{{command_output.stdout}}"

- name: enable k3s-agent.service
  ansible.builtin.service:
    name: k3s-agent.service
    state: started
    enabled: yes

- name: Start service k3s-agent.service
  ansible.builtin.service:
    name: k3s-agent.service
    state: started

#- name: checking service status
#  command: systemctl status k3s-agent.service

#- name: logs ausgeben
#  command:  journalctl -u k3s-agent.service -f
