---
# tasks file for k3s_installation
- name: Download k3s Installationsdatei
  get_url:
    url: https://github.com/k3s-io/k3s/releases/download/v1.22.4%2Bk3s1/k3s
    dest: /usr/local/bin
    mode: '755'

- name: Erstellung von Softlink/Symbolic Link
  file:
    src: /usr/local/bin/k3s
    dest: /usr/local/bin/kubectl
    state: link
